server:
  http_listen_port: 3200
  grpc_listen_port: 9095

distributor:
  receivers:
    otlp:
      protocols:
        http:
        grpc:

ingester:
  max_block_duration: 5m
  trace_idle_period: 10s

compactor:
  compaction:
    block_retention: 48h

metrics_generator:
  registry:
    external_labels: {}
  storage:
    # metrics generator WAL
    path: /tmp/tempo/generator/wal
  processor:
    service_graphs: {}
    span_metrics: {}

storage:
  trace:
    backend: local
    wal:
      path: /tmp/tempo/wal
    local:
      path: /tmp/tempo/blocks
