apiVersion: v1
kind: PersistentVolume
metadata:
  name: backend-pv
spec:
  capacity:
    storage: 15Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: 10.10.10.9
    path: /mnt/k8s_backend_uploads
  persistentVolumeReclaimPolicy: Retain
