apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: production
data:
  datasources.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
      - name: Loki
        uid: loki
        type: loki
        access: proxy
        url: http://loki:3100
        jsonData:
          maxLines: 1000
      - name: Tempo
        uid: tempo
        type: tempo
        access: proxy
        url: http://tempo:3200
        jsonData:
          tracesToLogs:
            datasourceUid: loki
          serviceMap:
            datasourceUid: prometheus