apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: production
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      securityContext:
        fsGroup: 10001
      containers:
      - name: loki
        image: grafana/loki:2.9.8
        securityContext:
          runAsUser: 10001
          runAsGroup: 10001
        args:
          - "-config.file=/etc/loki/config.yml"
        ports:
          - containerPort: 3100
        volumeMounts:
          - name: loki-config
            mountPath: /etc/loki
          - name: loki-storage
            mountPath: /loki
          - name: loki-storage    # ← WAL จะไปที่ /wal ด้วย volume เดิม
            mountPath: /wal
      initContainers:
      - name: init-chown-data
        image: busybox:1.36
        command: ["sh", "-c", "chown -R 10001:10001 /loki /wal"]
        volumeMounts:
          - name: loki-storage
            mountPath: /loki
          - name: loki-storage
            mountPath: /wal
      volumes:
      - name: loki-config
        configMap:
          name: loki-config
      - name: loki-storage
        persistentVolumeClaim:
          claimName: loki-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: production
spec:
  selector:
    app: loki
  ports:
    - port: 3100
      targetPort: 3100
