[mysqld]
# GTID replication
server-id=1                   # Master: 1, Slave: 2
log_bin=mysql-bin
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_format=ROW

# Optional
expire_logs_days=10
max_connections=200
