[mysqld]
# GTID replication
server-id=1 
log_bin=mysql-bin
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_format=ROW

# 🛑 เพิ่มบรรทัดนี้: อนุญาตให้เชื่อมต่อจาก IP ใดก็ได้ (รวมถึง IP จาก VPN/ศาลายา)
bind-address=0.0.0.0 

# Optional
expire_logs_days=10
max_connections=200
