apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: production
data:
  config.yml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0
    positions:
      filename: /tmp/positions.yaml
    clients:
      - url: http://loki:3100/loki/api/v1/push
    scrape_configs:
    - job_name: kubernetes-pods
      kubernetes_sd_configs:
      - role: pod
      pipeline_stages:
      - docker: {}
      relabel_configs:
      - source_labels: ['__meta_kubernetes_pod_node_name']
        target_label: '__host__'
      - action: labelmap
        regex: __meta_kubernetes_pod_label_(.+)
      - replacement: /var/log/pods/*$1/*.log
        source_labels: ['__meta_kubernetes_pod_uid', '__meta_kubernetes_pod_container_name']
        target_label: __path__